<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vũ Hồng Đạt</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        body {
            border: blue solid 1px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row h1">EMPLOYEES MANAGER</div>
    <div class="row">
        <div class="col-8">EMPLOYEES</div>
        <div class="col-4">DETAIL</div>
    </div>
    <div class="row">
        <div class="col-8" id="employee"></div>
        <div class="col-4" id="detail"></div>
    </div>
</div>
</body>
<script src="../static/javascript.js"></script>
</html>